<div class="container">

  <section id='home'>   <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" >
        <h1 align='center'>Качественное Бета-тестирование для Вашего стартапа.</h1>
        <br><br>
       
        <div class=row>
        <div class='span4'>
          <div class='banner-black'>
            <h2 align='center' style='color: white;'>ДЛЯ ТЕСТИРОВЩИКА</h2></div>
            <div class='whiteblock'><br><br>
            <ul align='center'>
            <li><h3>Неплохой дополнительный заработок</h3></li><br>
            <li><h3>Узнать первым о новых сервисах и сайтах</h3></li><br>
            <li><h3>Получать печеньки от создателей сервисов</h3></li>
          </ul><p align='center'><a class="btn btn-primary btn-large">Узнать больше</a></p><br><br>
          
            </div>
            <hr>
      </div>
        <div class='span2'>
          <p align='center' style='margin-bottom: 100px'><a class="btn btn-danger btn-large">Регистрация</a></p>
          <p align='center'><a class="btn btn-success btn-large" style='margin-bottom: 125px'>Вход</a></p>
          <p align='center'><a class="btn btn-warning btn-large">Получить инвайт</a></p>
       </div>
        
        <div class='span4 offset 3' >
          <div class='banner-black'>
            <h2 align='center' style='color: white;'>ДЛЯ СТАРТАПОВ</h2></div>
            <div class='whiteblock'><br><br>
            <ul align='center'>
            <li><h3>Возможность привлечь целевую аудиторию</h3></li><br>
            <li><h3>Найти возможные уязвимости системы</h3></li><br>
            <li><h3>Получить отзывы о дизайне и общей концепции сервиса</h3></li>
          </ul><p align='center'><a class="btn btn-primary btn-large">Узнать больше</a></p><br><br>
            </div>
          <hr>
        </div>
      </div>
         
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         
        
        
        
      </div>
</section>
  <section id='project'>
    <br><br>
    <div class='row'>
      <div class='banner-black'><h2 align='center' style='color: white;'>Активные проекты</h2></div><br><br>
      <div class= 'project'>
      <% @sites.each do |site| %>
        <div class='span4'>
          <a href='<%= site_path(site)%>'><img src='<%= site.image%>' alt='<%= site.name%>'></a>
        </div>
      <% end %>   
      </div>
    </div>
  </section>
  
    <section id='testers'>
    <br><br>
    <div class='row'>
      <div class='banner-black'><h2 align='center' style='color: white;'>Тестировщику</h2></div>
      <div class="hero-unit" ><br><br>
      <h3>Заголовок</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla nisl, pulvinar tincidunt scelerisque eu, vestibulum at magna. Maecenas nec orci augue, eget sodales velit. Aenean quis felis diam, at semper justo. Nunc varius mauris nec odio hendrerit gravida. Sed luctus dui non nibh rhoncus eget pretium sapien sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse risus dolor, pellentesque at sodales sed, ultrices at sem. Suspendisse mollis eros quis metus porttitor in malesuada mauris lacinia. Ut a risus nec ligula volutpat vehicula. Quisque imperdiet, lacus sit amet scelerisque dignissim, arcu justo cursus justo, in vehicula lorem lectus tempor nulla. Curabitur at eros arcu.

Vivamus dui felis, dignissim ut rhoncus nec, consequat sit amet elit. Proin sapien risus, interdum id ultricies sit amet, rutrum in elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem arcu, hendrerit eget congue id, vestibulum at libero. Phasellus luctus massa malesuada ipsum hendrerit at tincidunt arcu pretium. Praesent sit amet elit arcu. Pellentesque sed diam eget arcu porta vestibulum vel nec eros. Vivamus mauris quam, hendrerit et imperdiet in, porta eu nibh. Nullam at arcu urna, in vestibulum odio. Ut a diam arcu. Praesent in ipsum in urna facilisis gravida. Nulla eu velit dui, vel venenatis metus. Pellentesque arcu metus, viverra in placerat ut, lacinia dignissim velit. Aenean eleifend dapibus tristique. Curabitur tortor eros, placerat et placerat ac, auctor eget ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla nisl, pulvinar tincidunt scelerisque eu, vestibulum at magna. Maecenas nec orci augue, eget sodales velit. Aenean quis felis diam, at semper justo. Nunc varius mauris nec odio hendrerit gravida. Sed luctus dui non nibh rhoncus eget pretium sapien sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse risus dolor, pellentesque at sodales sed, ultrices at sem. Suspendisse mollis eros quis metus porttitor in malesuada mauris lacinia. Ut a risus nec ligula volutpat vehicula. Quisque imperdiet, lacus sit amet scelerisque dignissim, arcu justo cursus justo, in vehicula lorem lectus tempor nulla. Curabitur at eros arcu.

Vivamus dui felis, dignissim ut rhoncus nec, consequat sit amet elit. Proin sapien risus, interdum id ultricies sit amet, rutrum in elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem arcu, hendrerit eget congue id, vestibulum at libero. Phasellus luctus massa malesuada ipsum hendrerit at tincidunt arcu pretium. Praesent sit amet elit arcu. Pellentesque sed diam eget arcu porta vestibulum vel nec eros. Vivamus mauris quam, hendrerit et imperdiet in, porta eu nibh. Nullam at arcu urna, in vestibulum odio. Ut a diam arcu. Praesent in ipsum in urna facilisis gravida. Nulla eu velit dui, vel venenatis metus. Pellentesque arcu metus, viverra in placerat ut, lacinia dignissim velit. Aenean eleifend dapibus tristique. Curabitur tortor eros, placerat et placerat ac, auctor eget ipsum.
     <br> <a class="btn btn-warning btn-large">Получить инвайт</a>
      </p>
      
      </div>
    </div>
    </section>
    
    <section id='sites'>
    <br><br>
    <div class='row'>
      <div class='banner-black'><h2 align='center' style='color: white;'>Владельцу сайта</h2></div>
      <div class="hero-unit" ><br><br>
      <h3>Заголовок</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla nisl, pulvinar tincidunt scelerisque eu, vestibulum at magna. Maecenas nec orci augue, eget sodales velit. Aenean quis felis diam, at semper justo. Nunc varius mauris nec odio hendrerit gravida. Sed luctus dui non nibh rhoncus eget pretium sapien sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse risus dolor, pellentesque at sodales sed, ultrices at sem. Suspendisse mollis eros quis metus porttitor in malesuada mauris lacinia. Ut a risus nec ligula volutpat vehicula. Quisque imperdiet, lacus sit amet scelerisque dignissim, arcu justo cursus justo, in vehicula lorem lectus tempor nulla. Curabitur at eros arcu.

Vivamus dui felis, dignissim ut rhoncus nec, consequat sit amet elit. Proin sapien risus, interdum id ultricies sit amet, rutrum in elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem arcu, hendrerit eget congue id, vestibulum at libero. Phasellus luctus massa malesuada ipsum hendrerit at tincidunt arcu pretium. Praesent sit amet elit arcu. Pellentesque sed diam eget arcu porta vestibulum vel nec eros. Vivamus mauris quam, hendrerit et imperdiet in, porta eu nibh. Nullam at arcu urna, in vestibulum odio. Ut a diam arcu. Praesent in ipsum in urna facilisis gravida. Nulla eu velit dui, vel venenatis metus. Pellentesque arcu metus, viverra in placerat ut, lacinia dignissim velit. Aenean eleifend dapibus tristique. Curabitur tortor eros, placerat et placerat ac, auctor eget ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla nisl, pulvinar tincidunt scelerisque eu, vestibulum at magna. Maecenas nec orci augue, eget sodales velit. Aenean quis felis diam, at semper justo. Nunc varius mauris nec odio hendrerit gravida. Sed luctus dui non nibh rhoncus eget pretium sapien sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse risus dolor, pellentesque at sodales sed, ultrices at sem. Suspendisse mollis eros quis metus porttitor in malesuada mauris lacinia. Ut a risus nec ligula volutpat vehicula. Quisque imperdiet, lacus sit amet scelerisque dignissim, arcu justo cursus justo, in vehicula lorem lectus tempor nulla. Curabitur at eros arcu.

Vivamus dui felis, dignissim ut rhoncus nec, consequat sit amet elit. Proin sapien risus, interdum id ultricies sit amet, rutrum in elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem arcu, hendrerit eget congue id, vestibulum at libero. Phasellus luctus massa malesuada ipsum hendrerit at tincidunt arcu pretium. Praesent sit amet elit arcu. Pellentesque sed diam eget arcu porta vestibulum vel nec eros. Vivamus mauris quam, hendrerit et imperdiet in, porta eu nibh. Nullam at arcu urna, in vestibulum odio. Ut a diam arcu. Praesent in ipsum in urna facilisis gravida. Nulla eu velit dui, vel venenatis metus. Pellentesque arcu metus, viverra in placerat ut, lacinia dignissim velit. Aenean eleifend dapibus tristique. Curabitur tortor eros, placerat et placerat ac, auctor eget ipsum.
     <br> <a class="btn btn-warning btn-large">Добавить сайт</a>
      </p>
      
      </div>
    </div>
    </section>
      <!-- Example row of columns -->
    
      <hr>
        

     
    </div>