<div class ='content'><br><br>

  <div class ='row'>

    <div class ='span4'><h3>Сайты</h3><br>

      <% @sites.each do |site| %>

        <%= link_to(site.name, site_path(site)) %><br>

      <% end %><br>

      <%= link_to('Добавить', new_site_path, :class => 'btn btn_primary') %>

    </div>

        <div class ='span4'><h3>Пользователи</h3><br>

      <% @users.each do |user| %>

        <%= link_to(user.name, site_path(user)) %><br>

      <% end %><br>

      <%= link_to('Добавить', '#', :class => 'btn btn_primary') %>

    </div>

  </div>

</div>